<div class="row">
  <div class="row">
    <div id="dashboard_chart"></div>
  </div>
  <div class="col-md-10">
  <div class="col-offset-md-2 col-sm-3 col-md-3">
    <div class="col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5">
      <select ng-model="addOpt" ng-options="opt for opt in opts">
        <option value="">-- choose option --</option>
      </select>
    </div>
  </div>

  <div class="col-sm-5 col-md-4" ng-switch on="addOpt">
    <div ng-switch-when="loans" class="well wells">
      <span class="inline">Subsidized</span>
      <input type="text" ng-model="opt.subsidizedPerc">
      <div class="spacer5"></div>
      <input class="inline" type="range" ng-model="opt.subsidizedPerc" min="0" max="100", step="1">
      <div class="spacer5"></div>
      <span class="inline">Unsubsidized</span>
      <div class="spacer15"></div>
      <div class="row">
      <div class="col-md-1">Monthly Payment</div>
      <div class="col-md-5"><input type="text" ng-model="opt.loanPayment"
      </div></div>      
    </div>

    <div ng-switch-when="car" class="well wells">
      <div class="row">
      <select ng-model="opt.carYear" ng-options="year for year in carYears">
        <option value="">-- choose year --</option>
      </select>
      </div>
      <div class="spacer15"></div>
      <div class="row">
      <select ng-model="opt.carPrice" ng-options="price for price in carPrices">
        <option value="">-- choose price --</option>
      </select>
      </div>
    </div>

  </div>
  </div>

  <div class="col-md-2 pull-right"><a href="#/pathflow"><button type="submit" class="btn btn-primary pull-right">Change major</button></div>
</div>
