<div class="row">
  <div class="row">
    <div id="dashboard_chart"></div>
  </div>
  <div class="col-offset-md-2 col-sm-3 col-md-3">
    <div class="col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5">
      <select ng-model="addOpt" ng-options="opt for opt in opts">
        <option value="">-- choose option --</option>
      </select>
    </div>
  </div>

  <div class="col-sm-5 col-md-4" ng-switch on="addOpt">
    <div ng-switch-when="loans" class="well wells">
      <span class="inline">Subsidized</span><input type="text" ng-model="opt.subsidizedPerc"><input class="inline" type="range" ng-model="opt.subsidizedPerc" min="0" max="100", step="1"> <span class="inline">Unsubsidized</span>
      
    </div>

    <div ng-switch-when="car" class="well wells">
      <div class="row">
      <select ng-model="opt.carYear" ng-options="year for year in carYears">
        <option value="">-- choose year --</option>
      </select>
      </div>
      <div class="spacer15"></div>
      <div class="row">
      <select ng-model="opt.carPrice" ng-options="price for price in carPrices">
        <option value="">-- choose price --</option>
      </select>
      </div>
    </div>

    <div class="row" ng-switch-when="college">
    </div>
  </div>
</div>
