<div class="row">
    <div class="col-12-md">
        <h1>Start a new path</h1>
        <p>Start off by choosing somewhere you want to go.</p>
        <div class="input-group input-group-lg">
            <div class="input-group-addon"><span class="glyphicon glyphicon-book"></span></div>
            <input class="input-lg form-control" type="text" ng-model="collegesearch" placeholder="Enter a college name here">
            <ul class="list-unstyled">
                <li ng-repeat="college in colleges.results | filter:collegesearch"><a ng-click="universityClick(college)" >{{ college.University }}</a></li>
            </ul>
        </div>
        <br/>
        <br />
        <button class="btn-lg btn-default">Go</button>
    </div>
</div>
<div class="row" ng-show="collegeSelected">
    <div class="col-md-6">
        <h2>Choose your major:</h2>
        <ul>
            <li ng-repeat="major in majors.results"><a ng-click="majorClick(major)">{{ major.Major }}</a> </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>See it in action</h3>
        <p>Your chosen combination will, on average, give you the following financial status:</p>
        <!-- put the financial information here -->
        <a class="btn btn-success btn-lg" href=#/dashboard">Put it on my dashboard</a>
    </div>
</div>