.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/encodings.xml
.idea/kina-repo.iml
.idea/encodings.xml
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
node_modules/protractor/testapp/favicon.ico
.idea/misc.xml